$header-height: 3rem;
$nav-width: 10rem;

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  padding-left: 1em;
  margin-left: -1em;
}

hr {
  border-color: $lighter-gray3;
}

code {

  &.hljs {
	display: inline;
	padding: 0.125rem 0.25rem;
  }
}

pre.hljs {
  margin-top: 1rem;
  padding: 0.5rem 0.75rem;

  // override some code block styles when they are inside pre blocks
  code.hljs {
	padding: 0;
	background: none;
  }
}

header {
  height: $header-height;
  line-height: $header-height;
  // border-bottom: 1px solid $lighter-gray;
  .docs-title {
	font-size: 1.5rem;
	float: left;
	margin-left: 1rem;
  }

  .intc-link {
	float: right;
	margin-right: 1rem;
  }

}

nav {
  position: absolute;
  width: $nav-width;
  height: calc(100% - #{$header-height});
  // border-right: 1px solid $lighter-gray;
  padding-top: 0.5rem;

  overflow-y: auto;

  ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }

  li {
	display: block;
  }

  a {
	display: block;
	padding: 0.25rem 1rem;
	text-align: right;
  }

  hr {
	margin: 0.5rem 0 0.5rem 4rem;
  }

}

article {
  position: absolute;
  left: $nav-width;
  width: calc(100% - #{$nav-width});
  height: calc(100% - #{$header-height});
  padding: 1rem;
  padding-left: 2.5rem;
  overflow-y: auto;

  ol {
	padding-left: 20px;
  }

  h1:first-of-type {
	margin-top: 0;
  }

  a {
	text-decoration: underline;
  }
}

section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $lighter-gray3;
}

.heading-link {
  position: absolute;
  left: -0.1em;
  top: 0.05em;
  display: none;

  h1:hover &, h2:hover &, h3:hover &, h4:hover &, h5:hover &, h6:hover & {
	display: block;
	text-decoration: none;
  }
}

